.container-select select {
    width: 100%;
    background: transparent;
    padding: 10px 0;
    border-radius: 8px;
    font-size: 16px;
    border: 1px  solid #d6d6d6;
    margin-bottom: 30px;
}
label {
    font-size: 22px;
    display: block;
    padding-bottom: 15px;
}
.container-input-name input {
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    border: 1px  solid #d6d6d6;
    padding: 10px 0 10px 4px;
    margin-bottom: 30px;
}
.text-quote{
    width: 100%;
    height: 50px;
    border-radius: 8px;
}
.btn-save{
    padding: 10px 25px;
    font-size: 16px;
    color: #fff;
    background: #2F4F4F;
    border: none;
    margin: 10px 0 0 3px;
}