.main {
    display: flex;
}
.quotes {
    width: 70%;
    padding-top: 21px;
}
.quote {
    border: 1px solid #000;
    padding: 0 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}
.categories {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}
.categories ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.categories ul li {
    font-size: 24px;
    padding: 3px 0;
    text-transform: capitalize;
}
.link-edit {
    font-size: 0;
    height: 32px;
    width: 32px;
    display: block;
    background: url('../../assets/images/edit.svg') 50% no-repeat;
    background-size: 39px;
    position: absolute;
    top: 10px;
    right: 35px;
}
.btn-remove {
    font-size: 0;
    padding: 13px;
    background: transparent url('../../assets/images/dustbin.png') 50% no-repeat;
    background-size: 26px;
    border: none;
    position: absolute;
    top: 13px;
    right: 4px;
}