header {
    background: #2F4F4F;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header-flex > a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.main-nav{
    padding: 0;
    margin: 0;
}
.main-nav{
    margin: 0;
    padding: 0;
 }
.main-nav ul {
    display: flex;
    list-style: none;
}
.main-nav ul li {
    padding: 10px 20px;
}
.main-nav ul li:first-child{
    border-right: 2px solid #000;
}

.main-nav li a {
    text-decoration: none;
    color: #fff;
}